/*------------------------------------*\
    $MAIN-LAYOUT
\*------------------------------------*/
/**
 * Cutom layout bits
 */
body {
//  background-color: $darkgrey;
}

a {
    text-decoration: none;
    
    &:hover {
        border-bottom: 1px solid;
    }
}


.site-header {
    background-color: $mediumgrey;
  position: fixed;
  width: 100%;
  z-index: 99;
  
  @include media-query(desk) {
        background-color: transparent;
        margin-top: 60px;
  }
}

.logo--header {
  background: $mediumgrey;
  height: 115px;
  padding: 5px 0 0 0;
}
.logo {
  display: block;
  margin: 0 auto;
}

.nav__site {
  background: $mediumgrey;
  height: 115px;
  padding: 45px 30px;
  text-align: center;
}
.nav__site li {
  margin: 0 $base-spacing-unit * 2 0 0;
}
.nav__site li:last-child {
  margin: 0;
}
.nav__item {
  color: #fff;
  @extend .delta;
  text-decoration: none;
  text-transform: uppercase;
}


.site-wrap {
  background: #fff;
//  border: 20px solid $lightgrey;
  margin: 0 30px;
  padding: 200px 20px 20px;
  
  @include media-query(desk) {
      margin-top: 30px;
  }
}

.portfolio__item {
  margin-bottom: $base-spacing-unit * 3;
}

.item__description {
  padding-left: 25px;
}


.client-list {
    margin-left: $base-spacing-unit;
    margin-left: ($base-spacing-unit / $base-font-size)*1rem;
    
    li {
        margin-bottom:$base-spacing-unit / 2;
        margin-bottom:(($base-spacing-unit / $base-font-size) / 2)*1rem;
    }
}


