/*------------------------------------*\
    $MAIN-LAYOUT
\*------------------------------------*/
/**
 * Cutom layout bits
 */
body {
//  background-color: $darkgrey;
}

.site-header {
  margin: 60px 0 0;
  position: fixed;
  width: 100%;
}

.logo--header {
  background: $mediumgrey;
  height: 115px;
  padding: 5px 0 0 0;
}
.logo {
  display: block;
  margin: 0 auto;
}

.nav__site {
  background: $mediumgrey;
  height: 115px;
  padding: 45px 30px;
  text-align: center;
}
.nav__site li {
  margin: 0 $base-spacing-unit * 2 0 0;
}
.nav__site li:last-child {
  margin: 0;
}
.nav__item {
  color: #fff;
  @extend .delta;
  text-decoration: none;
  text-transform: uppercase;
}


.site-wrap {
  background: #fff;
//  border: 20px solid $lightgrey;
  margin: 30px;
  padding: 200px 20px 20px;
}

.portfolio__item {
  margin-bottom: $base-spacing-unit * 3;
}

.item__description {
  padding-left: 25px;
}



